body{
    background-image:url("image/OIP.jpg");height: 500px;
     position: relative;background-size: cover;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; margin: 0;
    display: block;
    place-items: center;
     padding-left:100px;
    margin-top: 10px; 


    
}
table{
   
     position: absolute;
    border-radius: 5px;
    /* box-shadow: 10px 20px 25px lightslategray;  */
    overflow: hidden;
    max-width: 100%;
    width:90%;
    height: 30px;
    border: 2px solid black ;
    table-layout: fixed;
    color: black;
    text-align: center;
  


}
/*  
button{height: 20px;width: 150px;padding-bottom: 20px;text-align: center;justify-content:space-between;
} */